
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>list</title>
    <link rel="stylesheet" href="{% static 'styles/detail.css' %}">
    <link rel="stylesheet" href="{% static 'styles/list.css' %}">
</head>
<body>
    <h1 class="center">research topics</h1>
   <table class="table">
    <th>id</th>
    <th>title</th>
   
{% for x in my_researches%}
 <tr>
<td>{{ x.id }}</td>
   <td>{{ x.title }}</td>

   <td> <a href="{% url 'detail' x.id %}" ><button class="button-45" role="button">Detail</button></a></td>
</tr>
 
 {% endfor%}

   </table>

   <a href="{% url 'create' %}"><button class="button-45" role="button">Add</button></a>
</body>
</html>